---
title: Deepak Kumar Sood
permalink: /
layout: splash
header:
  overlay_color: "#000"
  overlay_image: /assets/images/home.jpg
  overlay_filter: 0.6
excerpt: "Coder / Researcher / Tech-Evangelist"

thought:
  - title: "Thought of the day"
  - excerpt: '"I have the power to do and to be whatever I wish to do and be."<br />**---<cite>The Power of Concentration</cite>**'
  - url: "/thoughts/2017_thoughts/"
    btn_label: "More"
    btn_class: "btn btn--small btn--inverse"

all_posts:
  - url: "/blog/"
    btn_label: "All Posts"
    btn_class: "btn btn--small btn--inverse"

all_projects:
    - url: "/portfolio/"
      btn_label: "All Projects"
      btn_class: "btn btn--small btn--inverse"

til:
  - title: "Today I Learned"
  - excerpt: "[Android Architecture Components](https://developer.android.com/topic/libraries/architecture/index.html)<br />**---<cite>Android</cite>**"
  - url: "/til/2017_til/"
    btn_label: "More"
    btn_class: "btn btn--small btn--inverse"
---

{% include feature_row id="thought" type="center" %}

<h1><center>My recent blog posts</center></h1>
<br />
<div class="grid_wrapper">
  {% for post in site.posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
{% include feature_row id="all_posts" type="center" %}

<h1><center>My recent projects</center></h1>
<br />
<div class="grid_wrapper">
  {% assign items = site.portfolio | sort: 'date' | reverse %}
  {% for post in items limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
{% include feature_row id="all_projects" type="center" %}

{% include feature_row id="til" type="center" %}